{% extends "index.html" %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Alert Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Active Alerts <span>| All</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-exclamation-triangle" style="color: red;"></i>
                    </div>
                    <div class="ps-3">
                      <h6>6</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- casualties Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Total Casualties <span>| All</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-clipboard2-pulse" style="color: cadetblue;"></i>
                    </div>
                    <div class="ps-3">
                      <h6>102</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Main Card -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-12">

          <!-- Recent Activity -->
          <!-- MIGHT NEED THIS SECTION -->
          <!-- End Recent Activity -->

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates</h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="static/img/news-1.jpg" alt="">
                  <h4><a href="#">Major Earthquake Strikes Nepal, Widespread Damage Reported</a></h4>
                  <p>In a seismic event that has sent shockwaves through the nation, Nepal has been hit by a powerful earthquake... </p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/img/news-2.jpg" alt="">
                  <h4><a href="#">Severe Flooding Devastates Nepal, Thousands Displaced</a></h4>
                  <p>Nepal is grappling with a humanitarian crisis as widespread flooding wreaks havoc across several regions, displacing...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/img/news-3.jpg" alt="">
                  <h4><a href="#">Landslides Hit Nepal, Escalating Humanitarian Crisis</a></h4>
                  <p>Nepal is facing yet another natural disaster as landslides sweep through several regions, compounding the...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/img/news-4.jpg" alt="">
                  <h4><a href="#">Devastating Forest Fires Engulfing Nepal, Urgent Action Required</a></h4>
                  <p>Nepal is now grappling with an escalating environmental crisis as massive forest fires rage across several regions...</p>
                </div>


              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </section>

</main><!-- End #main -->
{% endblock content %}}